In [1]:
import pandas as pd

## load data
데이터 로드해서 각 월별/총합으로 합치기

In [3]:
card_01_1 = pd.read_csv('./UTF8/지역업종별 카드이용정보_202001(1).csv')
card_01_2 = pd.read_csv('./UTF8/지역업종별 카드이용정보_202001(2).csv')
card_02_1 = pd.read_csv('./UTF8/지역업종별_카드이용정보_202002(1).csv')
card_02_2 = pd.read_csv('./UTF8/지역업종별_카드이용정보_202002(2).csv')
card_03_1 = pd.read_csv('./UTF8/지역업종별_카드이용정보_202003(1).csv')
card_03_2 = pd.read_csv('./UTF8/지역업종별_카드이용정보_202003(2).csv')
card_04_1 = pd.read_csv('./UTF8/지역업종별_카드이용정보_202004(1).csv')
card_04_2 = pd.read_csv('./UTF8/지역업종별_카드이용정보_202004(2).csv')

In [14]:
card_01 = pd.concat([card_01_1, card_01_2])
card_02 = pd.concat([card_02_1, card_02_2])
card_03 = pd.concat([card_03_1, card_03_2])
card_04 = pd.concat([card_04_1, card_04_2])

In [18]:
card = pd.concat([card_01, card_02, card_03, card_04])

In [19]:
card.head()

,기준년월,시도명,시군구명칭,당사업종대분류코드명,당사업종중분류코드명,업종명,구분_연령,구분_성별,구분_직장,추정소득구간,신용등급구간,카드이용건수,카드이용금액
0,202001,서울,강남구,교양/문화/오락,관람시설,기타오락.휴식시설,10대,F,근로소득자,2천만원미만,4-6등급,27,160100
1,202001,서울,강남구,교양/문화/오락,관람시설,기타오락.휴식시설,10대,F,기타소득자,2천만원미만,4-6등급,12,59000
2,202001,서울,강남구,교양/문화/오락,관람시설,기타오락.휴식시설,10대,F,NaN,2천만원미만,1-3등급,71,344200
3,202001,서울,강남구,교양/문화/오락,관람시설,기타오락.휴식시설,10대,F,NaN,2천만원미만,4-6등급,297,1827100
4,202001,서울,강남구,교양/문화/오락,관람시설,기타오락.휴식시설,10대,F,NaN,2천만원미만,등급없음,179,755300

## datetime 형식으로 변환

In [20]:
card['기준년월']=pd.to_datetime(card['기준년월'], format="%Y%m")
card.head()

,기준년월,시도명,시군구명칭,당사업종대분류코드명,당사업종중분류코드명,업종명,구분_연령,구분_성별,구분_직장,추정소득구간,신용등급구간,카드이용건수,카드이용금액
0,2020-01-01,서울,강남구,교양/문화/오락,관람시설,기타오락.휴식시설,10대,F,근로소득자,2천만원미만,4-6등급,27,160100
1,2020-01-01,서울,강남구,교양/문화/오락,관람시설,기타오락.휴식시설,10대,F,기타소득자,2천만원미만,4-6등급,12,59000
2,2020-01-01,서울,강남구,교양/문화/오락,관람시설,기타오락.휴식시설,10대,F,NaN,2천만원미만,1-3등급,71,344200
3,2020-01-01,서울,강남구,교양/문화/오락,관람시설,기타오락.휴식시설,10대,F,NaN,2천만원미만,4-6등급,297,1827100
4,2020-01-01,서울,강남구,교양/문화/오락,관람시설,기타오락.휴식시설,10대,F,NaN,2천만원미만,등급없음,179,755300

## csv 내보내기

In [21]:
card.to_csv("card.csv", encoding='utf-8-sig') # 1~4월 데이터