In [1]:
import pandas as pd

In [43]:
corona = pd.read_csv('./UTF8/서울특별시 코로나19 자치구별 확진자 발생동향.csv')
corona

,자치구 기준일,종로구 전체,종로구 추가,중구 전체,중구 추가,용산구 전체,용산구 추가,성동구 전체,성동구 추가,광진구 전체,...,서추구 추가,강남구 전체,강남구 추가,송파구 전체,송파구 추가,강동구 전체,강동구 추가,기타 전체,기타 추가,수집일
0,2021.05.23.00,742.0,3.0,653.0,2.0,1102.0,5.0,1149.0,2.0,1388.0,...,4.0,2339.0,9.0,2450.0,26.0,1653.0,17.0,4075.0,4.0,11:40.0
1,2021.05.22.00,739.0,3.0,651.0,5.0,1097.0,5.0,1147.0,6.0,1378.0,...,9.0,2330.0,15.0,2424.0,18.0,1636.0,10.0,4077.0,10.0,11:40.0
2,2021.05.21.00,737.0,0.0,646.0,1.0,1092.0,5.0,1142.0,4.0,1363.0,...,3.0,2320.0,12.0,2405.0,20.0,1624.0,10.0,4057.0,8.0,11:40.0
3,2021.05.20.00,737.0,3.0,645.0,4.0,1087.0,3.0,1138.0,5.0,1354.0,...,6.0,2308.0,25.0,2384.0,24.0,1614.0,13.0,4049.0,5.0,11:40.0
4,2021.05.19.00,734.0,6.0,641.0,5.0,1084.0,3.0,1133.0,5.0,1347.0,...,9.0,2283.0,32.0,2360.0,17.0,1601.0,13.0,4044.0,12.0,11:39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
471,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
472,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
473,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
474,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
corona['자치구 기준일']=corona['자치구 기준일'].str[:10]
corona = corona.drop(['수집일'],axis=1)
corona = corona.dropna(axis=0)

In [47]:
corona

,자치구 기준일,종로구 전체,종로구 추가,중구 전체,중구 추가,용산구 전체,용산구 추가,성동구 전체,성동구 추가,광진구 전체,...,서초구 전체,서추구 추가,강남구 전체,강남구 추가,송파구 전체,송파구 추가,강동구 전체,강동구 추가,기타 전체,기타 추가
0,2021.05.23,742.0,3.0,653.0,2.0,1102.0,5.0,1149.0,2.0,1388.0,...,1777.0,4.0,2339.0,9.0,2450.0,26.0,1653.0,17.0,4075.0,4.0
1,2021.05.22,739.0,3.0,651.0,5.0,1097.0,5.0,1147.0,6.0,1378.0,...,1774.0,9.0,2330.0,15.0,2424.0,18.0,1636.0,10.0,4077.0,10.0
2,2021.05.21,737.0,0.0,646.0,1.0,1092.0,5.0,1142.0,4.0,1363.0,...,1762.0,3.0,2320.0,12.0,2405.0,20.0,1624.0,10.0,4057.0,8.0
3,2021.05.20,737.0,3.0,645.0,4.0,1087.0,3.0,1138.0,5.0,1354.0,...,1759.0,6.0,2308.0,25.0,2384.0,24.0,1614.0,13.0,4049.0,5.0
4,2021.05.19,734.0,6.0,641.0,5.0,1084.0,3.0,1133.0,5.0,1347.0,...,1753.0,9.0,2283.0,32.0,2360.0,17.0,1601.0,13.0,4044.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,2020.03.03,11.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,2.0,...,5.0,1.0,9.0,1.0,12.0,0.0,4.0,0.0,10.0,0.0
448,2020.03.02,11.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,2.0,...,4.0,0.0,8.0,1.0,12.0,0.0,4.0,0.0,10.0,0.0
449,2020.03.01,11.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,1.0,...,4.0,0.0,7.0,1.0,12.0,0.0,4.0,0.0,10.0,1.0
450,2020.02.29,11.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,...,4.0,0.0,6.0,3.0,12.0,3.0,4.0,1.0,9.0,0.0
451,2020.02.28,11.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,...,4.0,1.0,3.0,1.0,9.0,0.0,3.0,0.0,9.0,2.0

In [48]:
#df[df['주소'].str.contains('서울')] ## df[조건식]
is_all = corona.columns.str.contains('전체')
df_corona = corona.loc[:,is_all]

In [49]:
df_corona['Date'] = pd.to_datetime(corona['자치구 기준일'], format="%Y.%m.%d")

C:\Users\DY\.conda\envs\wiset\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [50]:
df_corona.head()

,종로구 전체,중구 전체,용산구 전체,성동구 전체,광진구 전체,동대문구 전체,중랑구 전체,성북구 전체,강북구 전체,도봉구 전체,...,금천구 전체,영등포구 전체,동작구 전체,관악구 전체,서초구 전체,강남구 전체,송파구 전체,강동구 전체,기타 전체,Date
0,742.0,653.0,1102.0,1149.0,1388.0,1595.0,1896.0,1771.0,1199.0,1355.0,...,674.0,1571.0,1784.0,1989.0,1777.0,2339.0,2450.0,1653.0,4075.0,2021-05-23
1,739.0,651.0,1097.0,1147.0,1378.0,1593.0,1890.0,1763.0,1196.0,1340.0,...,668.0,1564.0,1774.0,1980.0,1774.0,2330.0,2424.0,1636.0,4077.0,2021-05-22
2,737.0,646.0,1092.0,1142.0,1363.0,1586.0,1880.0,1757.0,1184.0,1350.0,...,662.0,1556.0,1769.0,1976.0,1762.0,2320.0,2405.0,1624.0,4057.0,2021-05-21
3,737.0,645.0,1087.0,1138.0,1354.0,1579.0,1870.0,1752.0,1176.0,1348.0,...,657.0,1547.0,1765.0,1972.0,1759.0,2308.0,2384.0,1614.0,4049.0,2021-05-20
4,734.0,641.0,1084.0,1133.0,1347.0,1560.0,1863.0,1738.0,1174.0,1341.0,...,650.0,1535.0,1758.0,1961.0,1753.0,2283.0,2360.0,1601.0,4044.0,2021-05-19

자치구 9개 '강남구', '송파구', '서초구', '영등포구', '중구', '마포구', '강서구', '구로구', '용산구'
1. 자치구 9개의 일별 코로나 확진자 수
2. 자치구 9개의 월별 코로나 확진자 수 총합

In [63]:
daily_corona = df_corona[['Date', '강남구 전체', '송파구 전체', '서초구 전체', '영등포구 전체', '중구 전체', '마포구 전체', '강서구 전체', '구로구 전체', '용산구 전체']]
daily_corona.columns = ['Date', '강남구', '송파구', '서초구', '영등포구', '중구', '마포구', '강서구', '구로구', '용산구']

In [64]:
daily_corona

,Date,강남구,송파구,서초구,영등포구,중구,마포구,강서구,구로구,용산구
0,2021-05-23,2339.0,2450.0,1777.0,1571.0,653.0,1338.0,2144.0,1443.0,1102.0
1,2021-05-22,2330.0,2424.0,1774.0,1564.0,651.0,1332.0,2140.0,1437.0,1097.0
2,2021-05-21,2320.0,2405.0,1762.0,1556.0,646.0,1322.0,2131.0,1436.0,1092.0
3,2021-05-20,2308.0,2384.0,1759.0,1547.0,645.0,1314.0,2126.0,1433.0,1087.0
4,2021-05-19,2283.0,2360.0,1753.0,1535.0,641.0,1311.0,2113.0,1422.0,1084.0
...,...,...,...,...,...,...,...,...,...,...
447,2020-03-03,9.0,12.0,5.0,3.0,0.0,1.0,2.0,1.0,0.0
448,2020-03-02,8.0,12.0,4.0,2.0,0.0,1.0,2.0,1.0,0.0
449,2020-03-01,7.0,12.0,4.0,1.0,0.0,1.0,2.0,1.0,0.0
450,2020-02-29,6.0,12.0,4.0,0.0,0.0,1.0,2.0,1.0,0.0
451,2020-02-28,3.0,9.0,4.0,0.0,0.0,1.0,2.0,1.0,0.0

In [65]:
# 2020-8월 데이터까지만 걸러내기
mask = daily_corona['Date']<'2020-09-01'
daily_corona = daily_corona[mask]

In [66]:
daily_corona

          Date    강남구    송파구    서초구   영등포구    중구    마포구    강서구    구로구    용산구
266 2020-08-31  174.0  257.0  138.0  137.0  50.0  129.0  213.0  151.0  100.0
267 2020-08-30  172.0  256.0  138.0  137.0  49.0  128.0  209.0  150.0  100.0
268 2020-08-29  168.0  244.0  135.0  124.0  47.0  125.0  203.0  144.0  100.0
269 2020-08-28  164.0  230.0  129.0  119.0  44.0  123.0  199.0  142.0   99.0
270 2020-08-27  160.0  214.0  126.0  112.0  42.0  111.0  195.0  135.0   95.0
..         ...    ...    ...    ...    ...   ...    ...    ...    ...    ...
447 2020-03-03    9.0   12.0    5.0    3.0   0.0    1.0    2.0    1.0    0.0
448 2020-03-02    8.0   12.0    4.0    2.0   0.0    1.0    2.0    1.0    0.0
449 2020-03-01    7.0   12.0    4.0    1.0   0.0    1.0    2.0    1.0    0.0
450 2020-02-29    6.0   12.0    4.0    0.0   0.0    1.0    2.0    1.0    0.0
451 2020-02-28    3.0    9.0    4.0    0.0   0.0    1.0    2.0    1.0    0.0

[186 rows x 10 columns]

### 월별로 묶어서...

In [73]:
monthly_df = daily_corona.resample('M', on='Date').sum()

In [74]:
monthly_df

,강남구,송파구,서초구,영등포구,중구,마포구,강서구,구로구,용산구
Date,,,,,,,,,
2020-02-29,9.0,21.0,8.0,0.0,0.0,2.0,4.0,2.0,0.0
2020-03-31,513.0,498.0,310.0,316.0,30.0,239.0,390.0,489.0,110.0
2020-04-30,1718.0,1068.0,1063.0,670.0,166.0,668.0,745.0,1048.0,506.0
2020-05-31,2139.0,1296.0,1241.0,789.0,233.0,754.0,968.0,1121.0,948.0
2020-06-30,2376.0,1542.0,1478.0,1467.0,307.0,951.0,2003.0,2054.0,1360.0
2020-07-31,2810.0,2151.0,1850.0,2086.0,482.0,1431.0,2688.0,2743.0,1619.0
2020-08-31,3777.0,4531.0,2819.0,2669.0,943.0,2417.0,4308.0,3299.0,2233.0

## csv 내보내기

In [75]:
# csv파일로 내보내기
daily_corona.to_csv("corona_month_count.csv", encoding='utf-8-sig') # 월 숫자로만 나눈 것
monthly_df.to_csv("corona_daily_count.csv", encoding='utf-8-sig') # 메세지 카운트