In [19]:
import pandas as pd

## load data

In [20]:
message = pd.read_csv('./UTF8/재난문자.csv')
message.head()

,연,월,일,시,분,수신지역,내용
0,2020,1,26,9,9,중구,[중구청] 오늘 07:00경 중구 장충동 앰버서더호텔 내 화재 발생. 이 지역을 우...
1,2020,1,28,16,59,광진구,[광진구청]\r 신종 코로나바이러스감염증 예방수칙\r 마스크 착용\r 흐르는물 30...
2,2020,1,30,9,49,송파구,[송파구청]감염증 대응을 위해 구청장 중심으로 24시간 대책본부를 운영하고 있습니다...
3,2020,1,31,14,31,강남구,"[강남구]중국 방문 후 14일 이내에 발열(37.5도 이상) 또는 호흡기증상(기침,..."
4,2020,1,31,15,5,강남구,"[강남구]중국 방문 후 14일이내에 발열(37.5도이상) 또는 호흡기증상(기침,인후..."

In [22]:
# 기간(2020.1~8)까지 자르기
year_2020 = message['연']==2020
year = message[year_2020]

month_14 = (year['월'] < 9)
month = year[month_14]

month

,연,월,일,시,분,수신지역,내용
0,2020,1,26,9,9,중구,[중구청] 오늘 07:00경 중구 장충동 앰버서더호텔 내 화재 발생. 이 지역을 우...
1,2020,1,28,16,59,광진구,[광진구청]\r 신종 코로나바이러스감염증 예방수칙\r 마스크 착용\r 흐르는물 30...
2,2020,1,30,9,49,송파구,[송파구청]감염증 대응을 위해 구청장 중심으로 24시간 대책본부를 운영하고 있습니다...
3,2020,1,31,14,31,강남구,"[강남구]중국 방문 후 14일 이내에 발열(37.5도 이상) 또는 호흡기증상(기침,..."
4,2020,1,31,15,5,강남구,"[강남구]중국 방문 후 14일이내에 발열(37.5도이상) 또는 호흡기증상(기침,인후..."
...,...,...,...,...,...,...,...
2550,2020,8,31,20,36,강남구,[강남구청] 확진자 5명 발생. 동선 공개 완료(gangnam.go.kr). 마스크...
2551,2020,8,31,21,3,동작구,[동작구청] 8.20. 및 8.28. 상도3동 성대사우나(동작구 국사봉1길38)방문...
2552,2020,8,31,21,4,동작구,"[동작구청]144,152,153,160,174번 확진자 동선공개,구홈페이지 및 블로..."
2553,2020,8,31,21,36,광진구,"[광진구청] 98번 확진자 역학조사결과 및 타지역(관악,성동) 동선알림. 이동동선중..."
2554,2020,8,31,21,44,동작구,[동작구청(수정)]8.20 및 8.25.(수정)상도3동 성대사우나(동작구국사봉1길3...

## keyword: 코로나
'코로나'라는 키워드가 있는 메세지만 추출

In [23]:
# 내용 column에서 '코로나' 키워드가 있는 데이터 추출
contains_corona = month['내용'].str.contains("코로나")

In [24]:
corona_message = month[contains_corona]

corona_message.head()

,연,월,일,시,분,수신지역,내용
1,2020,1,28,16,59,광진구,[광진구청]\r 신종 코로나바이러스감염증 예방수칙\r 마스크 착용\r 흐르는물 30...
5,2020,2,22,19,42,은평구,[은평구청]은평성모병원환자코로나19추가확진자발생.성모병원부분일시폐쇄.발열호흡기증상시...
6,2020,2,24,14,19,강동구,"[강동구]코로나19 2번째 확진자 발생. 성내동 거주 66세(중국인), 2.24. ..."
7,2020,2,24,15,52,송파구,"[송파구] 코로나19 확진자 2명 추가 발생, 23일 문정동 확진자의 가족으로 서울..."
8,2020,2,24,20,39,은평구,"[은평구청]금일코로나19확진추가2명발생,2.1부터은평성모병원입퇴원주민중발열 호흡기증..."

In [26]:
## "코로나" 키워드를 포함한 그룹...
# 각 구, 월끼리 묶어 count 
group_corona = corona_message.groupby(['수신지역','월']).count()

#df정리
group_corona = group_corona.drop(['연','일','시','분'], axis=1)
group_corona.columns = ["count"]

#주 지역구 9개(강남,송파,서초,영등포,중구,마포,강서,구로,용산)추출
key_corona_group = group_corona.loc[['강남구', '송파구', '서초구', '영등포구', '마포구', '강서구', '구로구', '용산구'],:]

key_corona_group

        count
수신지역 월
강남구  2      3
     3      6
     4     11
     5      2
     7      5
     8      1
송파구  2      5
     3     15
     4      8
     5      8
     6      9
     7     18
     8     21
서초구  2      1
     3      2
     4      9
     5      6
     6      3
     7      1
     8      3
영등포구 2      2
     3     16
     4      6
     5     11
     6     17
     7      6
     8     21
마포구  2      2
     3      4
     8      1
강서구  2      2
     3      3
     5      1
구로구  5      2
     6     19
     7      5
     8     18
용산구  3     10
     4      8
     5     10
     6      9
     7      4
     8     21

## monthly count
구별/월별 메세지 수

In [27]:
## 코로나와 관련 없이 메세지만 카운드.
# 각 구, 월끼리 묶어 count 
group_corona = month.groupby(['수신지역','월']).count()

#df정리
group_corona = group_corona.drop(['연','일','시','분'], axis=1)
group_corona.columns = ["count"]

#주 지역구 9개(강남,송파,서초,영등포,중구,마포,강서,구로,용산)추출
origin_group = group_corona.loc[['강남구', '송파구', '서초구', '영등포구', '중구', '마포구', '강서구', '구로구', '용산구'],:]

origin_group

# group_corona

        count
수신지역 월
강남구  2      3
     3     14
     4     61
     5     22
     6     22
     7     30
     8     41
송파구  2      5
     3     16
     4      9
     5     11
     6     11
     7     18
     8     35
서초구  2      1
     3      3
     4     30
     5     21
     6     20
     7     15
     8     43
영등포구 2      2
     3     16
     4      9
     5     16
     6     17
     7      6
     8     25
중구   1      1
     3      1
     5      4
     7      2
     8      8
마포구  2      2
     3     12
     4      5
     5      6
     6     10
     7      9
     8     27
강서구  2      2
     3     14
     4      5
     5     21
     6     32
     7     14
     8     41
구로구  3     31
     4      2
     5     11
     6     23
     7      5
     8     22
용산구  3     10
     4      8
     5     11
     6      9
     7      4
     8     23

## datetime(실패)
datetime 월별/구별 메세지 수
- datetime 변환 후 resample함수로 묶으려 했으나... 멀티인덱스?실패함

In [45]:
import numpy as np

In [111]:
# origin_group을 Datetime 형식으로 바꾼 것
month['Date'] = month['연'].map(str)+'0'+month['월'].map(str)+month['일'].map(str)
month['Date'] = pd.to_datetime(month['Date'], format="%Y%m%d")

d_month = month.drop(['연','월','일','시','분','내용'], axis=1)
d_month['count'] = 1 # count를 위한 column 추가

# 그룹화
df_month = d_month.groupby(['Date','수신지역']).count()

# 월별 카운트
monthly_count = df_month.resample('M',level=0).sum()

C:\Users\DY\.conda\envs\wiset\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\DY\.conda\envs\wiset\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [112]:
monthly_count

            count
Date
2020-01-31      5
2020-02-29     49
2020-03-31    361
2020-04-30    217
2020-05-31    299
2020-06-30    387
2020-07-31    281
2020-08-31    956

In [110]:
df_month

                 count
Date       수신지역
2020-01-26 중구        1
2020-01-28 광진구       1
2020-01-30 송파구       1
2020-01-31 강남구       2
2020-02-22 은평구       1
...                ...
2020-08-31 양천구       1
           영등포구      1
           은평구       2
           종로구       1
           중랑구       2

[1757 rows x 1 columns]

## csv 내보내기

In [56]:
# csv파일로 내보내기
origin_group.to_csv("message_month_count.csv", encoding='utf-8-sig') # 구별/월별 메세지 총 카운트
key_corona_group.to_csv("message_corona_count.csv", encoding='utf-8-sig') # 코로나 키워드 메세지 카운트

In [124]:
monthly_count.to_csv("message_all_month.csv",encoding='utf-8-sig')#서울 월별(datetime) 메세지 총 카운트